:root{
    --light-theme: #fefffe;
    --dark-theme: #1b2430;
    --dark-theme2: #212c3a;
    --dark-theme3: #131b23;
    --smokey-black-color: #070600;
    --rasin-black-color: #212227;
    --dark-blue-custom-color: #222733;
    --alice-blue: #e9f1f7;
    --blue-first-color: #19647e;
    --blue-second-color: #7ca5b8;
    --blue-third-color: #38369a;
    --blue-fifth-color: #473bf0;
    --purple-hover: #323096;
    --gentle-blue-color: #bebdf0;
    --smile-for-the-camera: #a7a1f8;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--alice-blue);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    scroll-behavior: smooth;
}

/* Navigation */
#main-header{
    background-color:var(--alice-blue);
    color: var(--blue-third-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
#main-header h1{
    font-size: 3rem;
}
#main-header h1 a{
    text-decoration: none;
    color: var(--blue-third-color);
}
#main-header ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 50px;
}
#main-header ul li a{
    color: var(--blue-third-color);
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .5s ease-in-out;
}
#main-header ul li a:hover{
    color: var(--alice-blue);
}

/* Showcase Style*/
.showcase{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    color: var(--light-theme);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: background-image 1s ease-in-out;
}
.showcase .showcase-head{
    padding: 200px 0 0 80px;
}
.showcase .showcase-head span{
    font-style: oblique;
}
.showcase .showcase-head h2{
    font-size: 6rem;
    margin-bottom: 10px;
}
.showcase .showcase-head p{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.showcase .showcase-head a{
    display: inline-block;
    text-decoration: none;
    color: var(--alice-blue);
    background-color: var(--purple-hover);
    padding: 15px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
}
.showcase .showcase-social{
    align-self: center;
    margin: 10px 0;
}
.showcase .showcase-social a{
    text-decoration: none;
    color: var(--alice-blue);
    font-size: 3rem;
    margin: 15px;
    transition: all .5s linear;
}
.showcase .showcase-social a:hover{
    color: var(--purple-hover);
}

/* Hero */
.hero{
    max-width: 800px;
    margin: 50px auto;
}
.hero img{
    width: 100%;
}

/* About */
.about{
    background-color: var(--blue-third-color);
    line-height: 1.7;
    color: var(--alice-blue);
}
.about .about-inner{
    max-width: 1000px;
    height: fit-content;
    margin: 20px auto;
    padding: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.about .about-inner img{
    width: 400px;
    border-radius: 3px;
}
.about .about-inner .welcome-outer .welcome{
    text-align: left;
    margin-bottom: 30px;
}
.about .about-inner .welcome-outer .welcome h2{
    font-size: 2rem;
    margin: 10px 0;
}
.about .about-inner .welcome-outer .welcome p{
    line-height: 2;
    font-size: 13px;
}

/* Testimonial */
.testimonial {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    height: 450px;
    background-color: var(--blue-first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}

.testimonial .testimonial-card {
    max-width: 500px;
    height: fit-content;
    padding: 20px;
   background-color: var(--alice-blue);
    margin: 20px;
    transition: all .5s linear;
    border-radius: 5px;
}
.testimonial #prev{
    padding: 15px 25px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 40%;
    font-weight: 600;
    cursor: pointer;
    color: var(--light-theme);
    margin-left: -1rem;
}
.testimonial #next{
    padding: 15px 25px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 40%;
    font-weight: 600;
    cursor: pointer;
    color: var(--light-theme);
    margin-right: -1rem;
}

.testimonial p {
    margin: 20px auto;
    line-height: 2;
}

.testimonial .testimonial-card .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonial .testimonial-card .profile-card  h4{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
    margin: 10px 0 5px;
    color: var(--blue-fifth-color);
}

.testimonial .testimonial-card .profile-card .img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px
}

.testimonial .testimonial-card .profile-card #user1 {
    background-image: url('../images/user1.jpg');
}

.testimonial .testimonial-card .profile-card #user2 {
    background-image: url('../images/user2.png');
}

.testimonial .testimonial-card .profile-card #user3 {
    background-image: url('../images/user3.png');
}

.testimonial .testimonial-card .profile-card #user4 {
    background-image: url('../images/user4.png');
}

.testimonial .testimonial-card .profile-card h4 {
    padding: 2px 0;
    font-weight: 500;
}

/* Banner */
.banner{
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1100px;
    height: fit-content;
    color: var(--light-theme);
    margin: 50px auto;
    display: flex;
    align-items: flex-start;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 20px 20px 30px rgba(5, 5, 5, 0.1);
}
.banner .banner-inner{
    width: 60%;
    padding: 40px 0 0 30px;
}
.banner .banner-inner h2{
    font-size: 2.7rem;
    margin-bottom: 15px;
}
.banner .banner-inner p{
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 20px;
}
.banner .banner-inner ul{
    list-style: none;
    margin: 20px 0;
}
.banner .banner-inner ul li{
    padding: 10px 0;
}
.banner .banner-inner ul li i{
    font-size: 1.5rem;
    margin-right: 10px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--alice-blue);
    color: var(--blue-third-color);
}

/* Table */

.pricing {
    padding: 20px;
    max-width: 90%;
    margin: auto;
    line-height: 1.5;
}

.pricing h3 {
    text-transform: capitalize;
    padding: 10px 0;
    font-size: 1.7rem;
    color: var(--brandColor);
}
.pricing p{
    margin-bottom: 20px;
}

.pricing .pricing-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10px;
}

.pricing .pricing-table .tab {
    text-align: center;
    height: fit-content;
    border-radius: 5px;
    background-color: var(--blue-first-color);
    padding: 30px;
    cursor: pointer;
    color: var(--alice-blue);
}

.pricing .pricing-table .tab .head {
    width: 100%;
    color: var(--light-theme);
    padding: 10px;
    font-size: 1.8rem;
    margin: 15px 0;
}

.pricing .pricing-table .tab .bord {
    border-bottom: 2px solid var(--light-theme);
    padding: 10px;
}

.pricing .pricing-table .tab .subscribe {
    background-color: var(--alice-blue);
    color: var(--blue-fifth-color);
    width: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-weight: 600;
    border-radius: 3px;
    margin: 10px 0;
    font-size: 1.2rem;
}

/* Links */
.links{
    background-color: var(--blue-second-color);
    padding: 20px;
}
.links .inner-links{
    max-width: 800px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.links .inner-links div{
    display: flex;
    flex-direction: column;
}
.links .inner-links div a{
    margin: 10px 0;
    text-decoration: none;
    color: var(--dark-theme);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.links .inner-links div a i{
    margin-right: 5px;
}
.links .inner-links div a:hover{
    color: var(--dark-theme2);
}
.links .inner-links div h3{
    margin-bottom: 10px;
}

/* Footer */
footer{
    padding: 20px;
    text-align: center;
    background-color: var(--blue-second-color);
}
footer p{
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    #main-header{
        padding: 20px;
    }
    #main-header h1{
        font-size: 2.5rem;
    }
    #main-header ul{
        display: none;
    }
    .showcase .showcase-head{
    align-self: center;
    padding: 150px 0 0 0;
    }
    .showcase .showcase-head h2{
        font-size: 3rem;
    }
    .showcase .showcase-head p{
        font-size: 1rem;
    }
    .hero{
        max-width: 300px;
        margin: 50px auto;
    }
    .hero img{
        width: 100%;
    }
    .about .about-inner{
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .about .about-inner img{
        width: 300px;
        border-radius: 3px;
        margin: auto;
    }
    .about .about-inner .welcome-outer .welcome h2{
        font-size: 1.5rem;
    }
    .testimonial {
        max-width: 400px;
        margin: 10px auto;
        height: 450px;
        border-radius: 0;
    }
    
    .testimonial .testimonial-card {
        max-width: 500px;
       background-color: var(--alice-blue);
        margin: 10px;
        height: min-content;
    }
    .testimonial #prev{
   display: none;
    }
    .testimonial #next{
      display: none;
    }
    .banner {
        width: 100%;
        padding: 10px;
    }
    .banner .banner-inner{
        width: 100%;
        padding: 10px;
    }
    .banner .banner-inner h2{
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .banner .banner-inner p{
        font-size: 1rem;
        line-height: 1.7;
        margin-bottom: 10px;
    }
    .banner .banner-inner ul{
        list-style: none;
        margin: 20px 0;
    }
    .banner .banner-inner ul li{
        padding: 5px 0;
        line-height: 2;
    }
    .banner .banner-inner ul li i{
        font-size: 1rem;
        margin-right: 10px;
        border-radius: 50%;
        padding: 10px;
        background-color: var(--alice-blue);
        color: var(--blue-third-color);
    }
    .pricing {
        padding: 10px;
        max-width: 100%;
        margin: auto;
        line-height: 1.5;
    }
    .pricing .pricing-table {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .links .inner-links{
        grid-template-columns: repeat(2, 1fr);
    }
    .links .inner-links div{
        margin: 10px 0;
    }
}