:root {
    --brandColor: #1c3379;
    --lightColor: #fff;
    --midColor: #fefefe;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--midColor);
    overflow-x: hidden;
    max-width: 100vw;
    height: 100vh;
    position: relative;
}

.navbar {
    width: 100%;
    height: 80px;
    max-height: fit-content;
    background-color: var(--brandColor);
    position: fixed;
    z-index: 10;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    padding: 10px 30px;
    margin: auto;
}

.navbar .container h1 {
    font-size: 2.5rem;
    color: var(--lightColor);
    justify-self: flex-start;
}

.navbar .container .side-menu ul {
    list-style: none;
}

.navbar .container .side-menu ul li {
    display: inline-block;
    padding: 20px 10px;
}

.navbar .container .side-menu ul li a {
    color: var(--lightColor);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 5px;
}

.navbar .container .side-menu ul li a:hover {
    border-bottom: 2px solid var(--midColor);
}

.icon-bar {
    display: none;
}
.showcase-home{
    position: relative;
}
.showcase-home .img{
    position: absolute;
    top: 10%;
}


.showcase {
    background-image: linear-gradient(to right, #3b33b4, #91afe7);
    height: 90vh;
    max-height: max-content;
    color: var(--lightColor);
    padding: 15rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase .showcase-content {
    margin-top: 1rem;
}

.showcase .showcase-content h1 {
    font-size: 3rem;
    padding: 20px 0;
    animation: fadeIn .5s ease-in-out .5s;
}
.showcase .showcase-content h1 span{
    color: #091555;
   font-style: italic;
}

.showcase .showcase-content p {
    font-size: 1.2rem;
    animation: fadeIn .5s ease-in-out both;
    animation-delay: .3s;
}

.showcase .showcase-content a {
    text-decoration: none;
    color: var(--brandColor);
    margin: 2rem 0;
    display: inline-block;
    background-color: var(--midColor);
    padding: 15px;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    animation: fadeIn .5s ease-in-out both;
    animation-delay: .3s;
    transition: .5s ease-in-out;
}

.showcase .showcase-content a:hover {
    padding: 13px;
}

.showcase img {
    width: 400px;
    margin: 2rem .6rem;
    align-self: center;
    justify-self: center;
    animation: fadeOut .5s ease-in-out;
    animation-delay: .3s;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.5));
    transform: rotateZ(10deg);
}

/* Animations */
@keyframes fadeIn {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.cube {
    font-size: 7rem;
    margin: 20px auto;
    text-align: center;
    color: var(--brandColor);
    animation: cube 5s linear infinite;
}

@keyframes cube {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.counters {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
}

.counters div i {
    font-size: 4rem;
    color: var(--brandColor);
    text-align: center;
    margin: auto;
    padding: 10px 0;
}

.counters div .counter {
    font-size: 4rem;
}

.counters div h3 {
    text-transform: uppercase;
}

.wrapper-home{
    background-color: #d1dffa;
    padding: 20px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
    max-width: 960px;
    margin: auto;
}

.wrapper img {
    width: 100%;
    max-width: 300px;
    justify-self: center;
    align-self: center;
}

.wrapper .welcome {
    align-self: center;
    background-color: var(--lightColor);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 5px;
    border-left: 3px solid var(--brandColor);
    line-height: 1.5;
}

.wrapper .welcome h2 {
    color: var(--brandColor);
    padding: 10px 0;
}

.wrapper .welcome p {
    line-height: 1.5;
}


.wordmark {
    margin: 3rem auto;
    max-width: 960px;
}

.mark {
    width: 70px;
    margin: -20px auto;
    color: #333;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
  ;
    padding: 20px;
    max-width: 960px;
    margin: auto;
}

.features .card {
    background-color: var(--lightColor);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}
.features .card img{
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    border-radius: 10px;
}
.features .card p{
    width: 100%;
    padding: 5px;
}
.features .card i {
    color: var(--brandColor);
    padding: 5px 10px;
    font-size: 1.5rem;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.hero .card-feature {
    background-color: var(--lightColor);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
}

.hero .card-feature .icons {
    color: var(--brandColor);
    font-size: 4rem;
    text-align: center;
    padding: 10px 0;
}

.hero .card-feature .icons+div p {
    color: var(--brandColor);
    font-size: 1.5rem;
    padding: 10px 0;
    font-weight: 600;
}

.pricing {
    padding: 20px;
    max-width: 90%;
    margin: auto;
    line-height: 1.5;
}

.pricing h3 {
    text-transform: capitalize;
    padding: 10px 0;
    font-size: 1.7rem;
    color: var(--brandColor);
}

.pricing .pricing-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10px;
}

.pricing .pricing-table .tab {
    border: 2px solid var(--brandColor);
    text-align: center;
    height: fit-content;
}

.pricing .pricing-table .tab .head {
    background-color: var(--brandColor);
    width: 100%;
    color: var(--lightColor);
    padding: 10px;
    font-size: 1.5rem;
}

.pricing .pricing-table .tab .bord {
    border-bottom: 2px solid var(--brandColor);
    padding: 5px;
}

.pricing .pricing-table .tab .subscribe {
    background-color: var(--brandColor);
    color: var(--lightColor);
    width: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
}

.testimonial {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    height: 450px;
    background-color: var(--brandColor);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}

.testimonial .testimonial-card {
    max-width: 400px;
    height: fit-content;
    padding: 20px;
    background-color: var(--lightColor);
    margin: 20px auto;
    transition: all .5s linear;
    border-radius: 5px;
}
.testimonial #prev{
    background-color: var(--lightColor);
    padding: 15px 25px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 40%;
    font-size: 5rem;
    color: var(--brandColor);
    font-weight: 600;
    cursor: pointer;
    margin-left: -1em;
    animation: bounce 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
.testimonial #next{
    background-color: var(--lightColor);
    padding: 15px 25px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 40%;
    font-size: 5rem;
    color: var(--brandColor);
    font-weight: 600;
    cursor: pointer;
    margin-right: -1em;
    animation: bounce 1s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.testimonial p {
    margin: 10px auto;
    line-height: 1.5;
}

.testimonial .testimonial-card .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonial .testimonial-card .profile-card  h4{
    color: var(--brandColor);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
}

.testimonial .testimonial-card .profile-card .img {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px
}

.testimonial .testimonial-card .profile-card #user1 {
    background-image: url('../images/user1.jpg');
}

.testimonial .testimonial-card .profile-card #user2 {
    background-image: url('../images/user2.png');
}

.testimonial .testimonial-card .profile-card #user3 {
    background-image: url('../images/user3.png');
}

.testimonial .testimonial-card .profile-card #user4 {
    background-image: url('../images/user4.png');
}

.testimonial .testimonial-card .profile-card h4 {
    padding: 2px 0;
    font-weight: 500;
}

@keyframes bounce {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.08);
    }
}

#main-footer {
    background-color: var(--brandColor);
    width: 100%;
    color: var(--lightColor);
}

#main-footer .top-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 30px;
}
#main-footer .top-footer div {
    display: flex;
    flex-direction: column;
}
#main-footer .top-footer div a{
    color: var(--lightColor);
    text-decoration: none;
    margin: 5px 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
#main-footer .top-footer div a:hover{
    color: #91afe7;
}
#main-footer .top-footer .download .play{
    font-size: 2rem;
}
#main-footer .dev{
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
}

.stop-scrolling {
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    body {
        max-width: 100vw;
        overflow-x: hiddens;
        margin: auto;
    }

    .navbar {
        width: 100vw;
        position: fixed;
        height: fit-content;
    }

    .navbar .container {
        max-width: 100vw;
        padding: 15px 20px;
        margin: 0;
    }

    .navbar .container h1 {
        font-size: 2rem;
        padding: 0;
        margin: 0;
        justify-self: flex-start;
    }

    .navbar .container .side-menu {
        position: absolute;
        padding: 20px;
        border-radius: 5px;
        top: 55%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100vw;
        height: 100vh;
        margin: 20px 0;
        transform: translateY(200%);
        transition: all 1s ease-in-out;
    }

    .navbar .container .side-menu.show {
        transform: translateY(0%);
    }

    .navbar .container .side-menu ul li {
        display: block;
        font-size: 2.5rem;
        text-align: center;
    }

    .icon-bar {
        display: block;
        color: var(--lightColor);
    }

    .showcase {
        padding: 2rem;
        width: 100vw;
        max-height: 80vh;
        flex-direction: column;
        overflow-x: hidden;
    }

    .showcase .showcase-content {
        margin-top: 4rem;
        text-align: center;
    }

    .showcase .showcase-content h1 {
        font-size: 2.3rem;
        margin-top: 5rem;
    }
    .showcase img{
        margin-right: -100px;
        width: 300px;
    }

    .showcase .showcase-content p {
        display: none;
    }

    .hide {
        display: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .features .card {
        border-radius: 5px;
        padding: 10px;
    }

    .hero {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        padding: 10px;
    }

    .pricing .tag {
        margin: 10px 0;
    }

    .pricing .pricing-table {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .pricing .pricing-table .tab {
        border-radius: 5px;
    }

    #main-footer .top-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
    #main-footer .dev{
        font-size: 1.2rem;
        padding: 20px;
        text-align: center;
    }
    main {
        max-width: 100%;
    }

    .testimonial {
        max-width: 500px;
        margin: 5px;
        padding: 5px;
    }
    .testimonial .testimonial-card {
        max-width: 300px;
        padding: 10px;
    }
    .testimonial #next{
        font-size: 2rem;
        margin-left: -.5em;
        background-color: var(--brandColor);
        color: var(--lightColor);
    }
    .testimonial #prev{
        font-size: 2rem;
        margin-right: -.5em;
        background-color: var(--brandColor);
        color: var(--lightColor);
    }
    .counters {
        gap: 10px;
    }

    .counters div i {
        font-size: 3rem;
    }

    .counters div .counter {
        font-size: 3rem;
    }

}

@media screen and (max-width: 823px) and (orientation: landscape) {
    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .showcase {
        height: 100vh;
        flex-direction: row;
    }

    .showcase img {
        max-width: 270px;
    }

}

@media screen and (max-width: 640px) and (orientation: landscape) {
    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .side-menu {
        display: block;
    }

    .icon-bar {
        display: none;
        color: var(--lightColor);
    }
}